/*Redefinição de estilos, variáveis e estilos gerais.*/
@import "layout.css";
@import "variaveis.css";
@import "componentes.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #333;
}

h1,
h2 {
  font-size: clamp(1.5em, 1em + 3vw, 2.5em);
  margin: 0;
}

p {
  font-size: clamp(0.8em, 1em + 1vw, 1.25em);
  margin-bottom: 1rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
