/*Estilos relacionados ao layout da página (header, footer, sidebar, etc.).*/

/*Estilização header*/

header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--var-cor3);
  color: var(--var-cor1);
  box-shadow: rgba(0, 0, 0, 0.397) 0px 4px 12px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/*Texto de apresentação*/
main .block {
  text-align: center;
}

/*Seção Form*/
.box-data{
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  border-left: 2px solid var(--var-cor3);
  background-color: var(--var-cor2);
  box-shadow: rgba(0, 0, 0, 0.226) 1.95px 1.95px 2.6px;
  display: none;
}

/*Seção Formulário*/
.data-form {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

