/*Estilos relacionados ao layout da página (header, footer, sidebar, etc.).*/

/*Estilização header*/

input[type='number']{
  font-size: 16px;
  padding: 4px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: auto;
  padding: 16px;
  border-bottom-left-radius: 160px;
  background: rgb(58, 127, 253);
  background: radial-gradient(
    circle,
    rgb(58, 127, 253) 55%,
    rgb(83, 140, 245) 83%
  );
  color: var(--var-cor1);
  box-shadow: rgba(0, 0, 0, 0.205) 0px 4px 12px;
}



.header-content {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.header-content h1 {
  margin: 32px 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.header-content p {
  text-align: justify;
  line-height: 1.5;
}

.header-image {
  width: 60%;
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image img {
  width: 350px;
  height: 350px;
}

/*Texto de apresentação*/
main {
  flex: 1 1 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}
/*Seção Form*/
.data-section {
  width: 100%;
  padding: 16px;
  margin: 16px auto;
  border-radius: 5px;
  border-left: 2px solid var(--var-cor3);
  background-color: var(--var-cor2);
  box-shadow: rgba(0, 0, 0, 0.226) 1.95px 1.95px 2.6px;
  display: none;
}

.container-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Seção Formulário*/

/*Seção Input (Dados do usuário)*/
.container-section {
  width: 100%;
  margin: 16px auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  padding: 16px 0;
}

.input-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 16px;
}

.quadrant-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.input-block-rl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  gap: 16px;
}

.quadrant-rl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.quadrant-rl p {
  margin: 16px 0;
}
.quadrant-title {
  margin-top: 16px;
  padding: 16px;
  font-size: 16px;
  text-align: center;
}

.tooth-classification {
  margin-left: 75%;
  width: 20%;
}

.section-btn-histogram{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: var(--var-cor2);
  color: var(--var-cor3);
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.37);
}

/*Mensagem de Error*/
.error-message{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
}

.error-message {
  display: none;
  text-align: center;
  margin-bottom: 0;

}

.error-message p{

  color: #ff0000;
}