@media (max-width: 768px) {
  .container-botoes {
    width: 100%;
  }
  #titulo-secao {
    font-size: 1.5rem;
  }
}

@media (max-width: 620px) {
  main {
    width: 100%;
  }

  .botao-home {
    font-size: 0.9rem;
  }

  .secao-dados {
    grid-template-columns: 1fr 1fr;
  }

  #titulo-secao {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  .container-botoes {
    flex-direction: column;
  }
  .botao-home {
    font-size: 0.9rem;
  }
  .secao-dados {
    grid-template-columns: 1fr;
  }
  #titulo-secao {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  .container-botoes {
    flex-direction: column;
  }
  .botao-home {
    width: 190px;
    font-size: 0.8rem;
  }
}
