@media (max-width: 768px) {
  .box-button {
    width: 100%;
  }
}

@media (max-width: 620px) {
  main {
    width: 100vw;
    padding: 1rem;
  }
  .data-form  {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .box-button {
    grid-template-columns: 1fr;
  }

  .data-form  {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .button-home {
    width: 12rem;
  }
}

@media (max-width: 250px) {
  .button-home {
    width: 100%;
  }
}