/* Media queries para ajustar a largura em telas menores */

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
  .container {
    width: 90%;
  }
  .container-input {
    place-items: center;
  }

  .name-placeholder,
  .input-value input {
    font-size: 0.9rem; /* Ajuste no tamanho da fonte*/
  }
}

@media (max-width: 625px) {
  .container {
    width: 100%;
  }
  .input-value {
    width: 90px;
    grid-template-columns: 1fr 2fr; /* Ajusta a proporção das colunas */
  }
}

@media (max-width: 550px) {
  .container-input {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .input-value {
    width: 100px;
  }
  .bloco-btn {
    text-align: center;
  }
  
  .column-num{
    font-size: 0.8rem;
  }
}

@media (max-width: 330px) {
  .input-value {
    width: 70px;
  }

  .bloco-btn button {
    font-size: 0.8rem;
    width: 60%;
  }

  .column-num{
    font-size: 0.5rem;
  }
}
