@import "reset-style.css";

/*Paleta de Cores*/
:root {
  --color-principal: #32195a;
  --color-bottom: #32195a52;
  --color-focus: #f25c05;
  --color-white: #ffffff;
  --color-black: #000000;
}

/*Estilo do Header*/

.header {
  width: 100%;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-principal);
}

.header p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-white);
  margin: 0;
}

header img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

/*Estilo do Conteúdo Principal*/

.container {
  width: 70%;
  height: 100%; /*Ajustar á altura da tela*/
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-bottom);
}

/*Texto Informativo*/
.text {
  text-align: center;
}

/*Input*/
.container-input {
  margin: 10px auto;
  width: 80%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 10px;
}

.input-value {
  width: 100px;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  border-bottom: 2px solid var(--color-principal);
}

.name-placeholder {
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-principal);
  padding: 0.5rem;
}

.input-value input {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-bottom);
  border: none;
  outline: none;
  padding: 0.5rem;
}

/*Estilos gerais do histrogramas*/

.histrograma {
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
  display: none;
}

/* Estilos do gráfico principal */

.graphic,
.column-num {
  max-width: 400px;
  min-width: 150px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  overflow: hidden;
}

.graphic {
  height: 200px;
  margin: 5px auto;
  border: 2px solid #000000;
}

.column-num {
  font-size: 1rem;
  height: auto;
  margin: 2px auto;
}

/*Estilos das colunas dos histrogramas (Superior/Inferior)*/
.column,
.column-bottom {
  width: 100%;
  height: 100%;
  display: flex;
}

.column {
  margin-top: 5px; /* Limitar o tamanho da coluna*/
  align-items: flex-end; /* Alinha na base (valor alto) */
}

.column-bottom {
  margin-bottom: 5px; /* Limitar o tamanho da coluna*/
  align-items: flex-start; /* Para alinhar as colunas na parte inferior */
}

.value,
.sub-value,
.sub-value-bottom {
  width: 100%;
  height: 100%; /* Altura definida pela coluna pai */
}

.value {
  background-color: #1b1c1d; /* Cor principal da barra */
}

.sub-value {
  margin: 0 1px; /* Espaçamento entre barras */
  display: flex;
  flex-direction: column-reverse;
  background-color: #4e5055; /* Cor de preenchimento da coluna */
}
.sub-value-bottom {
  margin: 0 1px; /* Espaçamento entre barras */
  background-color: #4e5055; /* Cor secundária da barra */
}

/* Estilos para texto do histograma */
.text-hist {
  margin: 15px auto;
}

/*Bloco para download do histrograma*/

.download-img{
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 1rem;
}
/*Estilo dos botões*/

.bloco-btn {
  text-align: center;
  margin: 1rem auto;
}

.bloco-btn button {
  background-color: var(--color-principal);
  color: var(--color-white);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bloco-btn button:hover {
  background-color: var(--color-focus);
}
